<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [3]:
install.packages("readxl")

Warning message:
“package ‘readxlsx’ is not available (for R version 4.0.0)”

In [5]:
library("readxl")

Warning message:
“package ‘readxl’ was built under R version 4.0.2”

In [6]:
mydata <-read_xlsx("5.0-Employment_Data.xlsx")

Probit Model:

In [17]:
head(mydata)

  age race earnwke employed unemployed married union ne_states so_states
1 53  1     961.53 1        0          0       0     0         0
2 34  1     600.00 1        0          1       0     0         1
3 38  1     955.00 1        0          1       0     0         1
4 31  2     865.00 0        0          0       1     1         0
5 21  1     250.00 1        0          0       0     0         0
6 40  1    1394.00 1        0          1       0     0         0
  ce_states ⋯ government private self educ_lths educ_hs educ_somecol educ_aa
1 1         ⋯ 0          1       0    0         0       0            0
2 0         ⋯ 0          1       0    0         1       0            0
3 0         ⋯ 0          1       0    0         0       0            1
4 0         ⋯ 0          1       0    0         0       0            0
5 0         ⋯ 0          1       0    0         1       0            0
6 0         ⋯ 0          1       0    0         0       0            0
  educ_bac educ_adv female
1 1        0        1
2 0        0        0
3 0        0        1
4 0        1        1
5 0        0        0
6 0        1        0

In [18]:
ProbitModel <- glm(employed ~ union + married + female + educ_adv + private + age, data=mydata, family=binomial(link="probit"))
summary(ProbitModel)

Call:
glm(formula = employed ~ union + married + female + educ_adv +
    private + age, family = binomial(link = "probit"), data = mydata)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.5507   0.3595   0.4353   0.4985   0.6765

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept)  1.012033   0.118979   8.506  < 2e-16 ***
union       -0.051513   0.081638  -0.631  0.52805
married      0.253672   0.053403   4.750 2.03e-06 ***
female      -0.248803   0.051900  -4.794 1.64e-06 ***
educ_adv     0.207644   0.094490   2.198  0.02798 *
private     -0.004441   0.070889  -0.063  0.95005
age          0.005916   0.002277   2.598  0.00937 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 2975.2  on 4567  degrees of freedom
Residual deviance: 2906.2  on 4561  degrees of freedom
AIC: 2920.2

Number of Fisher Scoring iterations: 5

Logit Model:

In [13]:
LogitModel <- glm(employed ~ female + educ_adv, data=mydata, family=binomial(link="logit"))
summary(LogitModel)

Call:
glm(formula = employed ~ female + educ_adv, family = binomial(link = "logit"),
    data = mydata)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.4340   0.4158   0.4158   0.5196   0.5196

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)  2.40462    0.07837  30.683  < 2e-16 ***
female      -0.47053    0.10045  -4.684 2.81e-06 ***
educ_adv     0.50444    0.19022   2.652  0.00801 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 2975.2  on 4567  degrees of freedom
Residual deviance: 2944.7  on 4565  degrees of freedom
AIC: 2950.7

Number of Fisher Scoring iterations: 5

In [10]:
head(mydata)

  age race earnwke employed unemployed married union ne_states so_states
1 53  1     961.53 1        0          0       0     0         0
2 34  1     600.00 1        0          1       0     0         1
3 38  1     955.00 1        0          1       0     0         1
4 31  2     865.00 0        0          0       1     1         0
5 21  1     250.00 1        0          0       0     0         0
6 40  1    1394.00 1        0          1       0     0         0
  ce_states ⋯ government private self educ_lths educ_hs educ_somecol educ_aa
1 1         ⋯ 0          1       0    0         0       0            0
2 0         ⋯ 0          1       0    0         1       0            0
3 0         ⋯ 0          1       0    0         0       0            1
4 0         ⋯ 0          1       0    0         0       0            0
5 0         ⋯ 0          1       0    0         1       0            0
6 0         ⋯ 0          1       0    0         0       0            0
  educ_bac educ_adv female
1 1        0        1
2 0        0        0
3 0        0        1
4 0        1        1
5 0        0        0
6 0        1        0

In [14]:
q3 = z.test(2.40462)

ERROR: Error in z.test(2.40462): could not find function "z.test"