<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Column-Operations" data-toc-modified-id="Column-Operations-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Column Operations</a></span><ul class="toc-item"><li><span><a href="#File-Read-direct-from-Web-Request" data-toc-modified-id="File-Read-direct-from-Web-Request-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>File Read direct from Web Request</a></span></li><li><span><a href="#Column-Encoding" data-toc-modified-id="Column-Encoding-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Column Encoding</a></span></li><li><span><a href="#Column-Translation" data-toc-modified-id="Column-Translation-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Column Translation</a></span></li><li><span><a href="#Drop-Column" data-toc-modified-id="Drop-Column-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Drop Column</a></span></li></ul></li><li><span><a href="#Data-Types" data-toc-modified-id="Data-Types-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Types</a></span><ul class="toc-item"><li><span><a href="#Changing-Data-Types" data-toc-modified-id="Changing-Data-Types-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Changing Data Types</a></span></li></ul></li></ul></div>

# 5.2 Pandas Operations

## Column Operations

In [ ]:
import io
import pandas as pd
import requests as r

#variables needed for ease of file access
url = 'http://drd.ba.ttu.edu/isqs6339/ex/L2.1/'
file_1 = 'test_data.csv'

### File Read direct from Web Request

In [ ]:
res = r.get(url + file_1)
res.status_code
df = pd.read_csv(io.StringIO(res.text))  
df

### Column Encoding

In [ ]:
#let's just add a column, all values are 100
df['100_col'] = 100

#Let's scale our 7 pt likert to a 100 point scale.
#why we would do this, I have no idea.

df['likert_100'] = 100/df['Ordinal_7pt']


#What about iterative operations, Why didn't this work?
for index, row in df.iterrows():
    row['iterval'] = row['Ordinal_7pt'] + row['Ordinal_5pt']

df

#Note, we will talk about how to do more custom row actions later.
#for now, note, that iterrows really should not be used for updating values.

### Column Translation

In [ ]:
#Let's encode all ordinal 7 values above 4 as High and otherwise low

#set the default value
df['7highlow'] = 'low'
#set the other value
df['7highlow'][df['Ordinal_7pt'] > 4] = 'high'
#note the warning.  While it works, there are better ways
df

### Drop Column

In [ ]:
df.columns
df1 = df.drop('7highlow', axis=1) #axis specifies column
df1
#note, this created a new copy.  Higher memory usage.  
#Instead try the following
df
df.drop('7highlow', axis=1, inplace=True)
df

## Data Types

Setup for "bad data" example
- Create variables
- Read from web request

In [2]:
res = r.get(url + file_1)
res.status_code
df = pd.read_csv(io.StringIO(res.text))  
df

NameError: name 'r' is not defined

Notice missing fields:

In [ ]:
df.describe()
df.dtypes

Examine the bad read:

In [ ]:
res = r.get(url + file_2)
res.status_code
df = pd.read_csv(io.StringIO(res.text))

Notice numbers are coming up as objects (strings):

In [ ]:
df.dtypes

Number the items:

In [3]:
df['Ordinal_7pt'].value_counts()
df['Ordinal_5pt'].value_counts()

NameError: name 'df' is not defined

In [ ]:
#For now, let's take the easy route and just drop the rows.  Note it is 
#row #0 and row # 49

In [ ]:
df.drop(0, axis=0, inplace=True)
df.drop(49, axis=0, inplace=True)
df

In [ ]:
#WAIT, WHY ON EARTH DID THAT WORK?  Deleted 0 and index didn't shift?????
#Let's reset the index

In [ ]:
df.reset_index(drop=True, inplace=True)
df

### Changing Data Types

In [ ]:
df.dtypes

In [ ]:
#we fixed the offending values, but our type is wrong.
#Let's type convert those fields

In [ ]:
df['Ordinal_7pt'] = pd.to_numeric(df['Ordinal_7pt'])
df['Ordinal_5pt'] = pd.to_numeric(df['Ordinal_5pt'])

In [ ]:
#Types look good
df.dtypes

In [ ]:
#Now we can describe!
df.describe()